<div class="card text-bg-dark mb-3 mt-3" style="max-width: 50%;">
  <div class="card-header">Usuarios</div>
  <div class="card-body">
    <div class="card-title">
      <button type="button" class="btn btn-success">Success</button>
    </div>
    <div class="card-text">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-20">
            <table class="table">
              <table class="table table-success table-striped">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Dinero</th>
                    <th scope="col">Alias</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let usuario of usuarios">
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.nombre}}</td>
                    <td>{{usuario.dinero}}</td>
                    <td>{{usuario.alias}}</td>
                  </tr>
                </tbody>
              </table>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

